
.th-font{
    font-family: "Prompt", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 200;
}
  
.en-font{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.button-color{
    background-color: #01395E;
    color: white;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
.menu{
    position: fixed;
    margin-top: 0;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #01395E;
    z-index: 6;
  }

.header{
    display: grid;
    grid-template: 1fr 1fr /0.5fr 0.5fr 0.5fr;
    color: white;
}

.header2{
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    color: #00385E;
}

.home-page{
    background-color:#01395E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;

    /* The image used */
    background-image: url("./asset/images/bg-home.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wordLeft{
    grid-column: span 2;
}
.wordRight{
    grid-column: span 2;
}

.about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
}

.flex-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: calc(1rem + 0.5vw);
}

.gradient-text {
    background-image: linear-gradient(-20deg,#01395E,#01395E, #3c9ddd,#01395E, #01395E);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    padding-top: 7%;
    padding-bottom: 4%;
    
}

.gradient-tab {
    background: linear-gradient(300deg, #01395E, #3c9ddd,#01395E);
    color: white;
    letter-spacing: 10px;
    word-spacing: 10px;
    padding-top: 0.5%;
    text-align: center;
}

.skewers{
    display: grid;
    grid-template: 1fr /3fr 0.5fr 3fr;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.line{
    color: black;
    line-height: 1.5;
    border-bottom: 1px solid #888;
    margin-bottom: 5%;
}

.line2{
    color: black;
    line-height: 1.5;
    border-bottom: 1px solid #888;
    margin-bottom: 5%;
    display: block;
    position: relative;
    width: 50%;
    left: 46%;
}

.flex-x{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}

.square {
    background-color:#01395E;
    height:0.5rem;
    width: 0.5rem;
    margin: 10px;
}

.zoom{
    cursor:pointer;
    transition: all 1s;
}
.zoom:hover{
    transform: scale(1.2);
}

.service-page{
    background-color: #282828;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 5%;
}

.service-header{
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.grid-con{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr ;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 8%;
}

.service-h2{
    background-color: #01395E;
    color: #0076A9;
    margin-top: 10%;
    margin-bottom: 8%;
    padding-left: 2%;
}

.button {
    font-size: 1.3rem;
    transition-duration: 0.4s;
    border-start-end-radius: 0%;
    border-radius: 20px 20px 20px 20px;
    margin-top:5%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.button1 {
    background-color: white; 
    color: #01395E;
    border: 2px solid #01395E;
}
  
.button1:hover {
    background-color: #01395E;
    color: white;
}

.button2 {
    background-color: #01395E; 
    color: white;
    border: 2px solid #01395E;
}
  
.button2:hover {
    background-color: white;
    color: #01395E;
}
.contact-text{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.Footer{
    background-color: #00385E;
    display: flex;
    justify-content: space-between;
}

.end-footer{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 5%;
    font-size: xx-small;
}

.end-footer2{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: xx-small;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* border: 1px solid #00385E; */
    color: #00385E;
}

.project-table{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    row-gap: 2%;
    column-gap: 7.5%;
    margin: 5%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    margin-bottom: 25%;
}

.header3{
    display: flex;
    justify-content: start;
    padding: 5%;
    padding-left: 3%;
    color: #00385E;
}


@media (max-width: 1250px) {
    .contact-text{
        flex-direction: column;
    }
    .th-font{
        font-family: "Prompt", sans-serif;
        font-style: normal;
        font-size: 1.2rem;
        font-weight: 200;
    }
      
    .en-font{
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        /* font-size: 1rem; */
        font-style: normal;
    }
    
    
    .footer-logo{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-right: 10%;

    }
}

@media (max-width: 750px) {
    .project-table{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .header{
        grid: none;
    }
    .grid-con{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }.end-footer2{
        grid-template-columns: 1fr 0.5fr;
    }
}
