body{
  font-family: "Noto Sans Thai", sans-serif;
  /* height: 100vh; */
}

.menu{
  position: fixed;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #01395E;
}

.grid-container{
  display: grid;
  grid-template: 1fr/1fr 1fr;
  height: auto;
  padding-top: 60px;
  /* margin-top: 60px; */
}

.home-description{
  background-color:#EAF1F0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin-top: 5%;
  height: auto;
  font-size: calc(0.5rem + 1vw);
}

.button-size{
  width: 100px;
  height: 50px;
}

.text-home{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  padding-left: 10%;
}

.img-home{
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  margin-top: 5%;
  /* padding-right: 10%; */
}

.button-color{
  background-color: #01395E;
  color: white;
}

.service{
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  /* height: 100%; */
}

.service-text{
  /* background-color: rgb(99, 99, 102); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: auto; */
  align-items: start;
  /* height: auto; */
  margin-top: 5%;
}
.service-block{
  /* background-color: rgb(140, 140, 177); */
  display: flex;
  justify-content: center;
  /* padding-bottom: 15%; */
}

.service-img{
  display: flex;
  flex-direction: column;
  justify-content:start ;
  align-items: start;
  width: 30%;
  padding-right: 1%;
}

.projects-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  color: white;

  /* The image used */
  background-image: url("./asset/Backgroundpic.png");

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  /* background-color: aquamarine; */
  /* height: 100vh;
  width: 100vh; */
}

.grid-container2{
  display: grid;
  grid-template: 0.5fr 5fr / 1fr 1fr;
  height: auto;
  /* width: auto; */
}

.header-example{
  /* background-color: chocolate; */
  justify-content: end;
  text-align:end;
  grid-column: span 2;
  height: 15vh;
  /* width: fi; */
}

.overlap-block{
  margin-top: 15%;
}

.test2{
  /* background-color: rgb(96, 122, 33); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.test{
  background-color: aqua;
}
